<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content=""> <!-- TODO -->


        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 

        {# TODO favicon #}
        {#    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">#}

        {%  block extraCSS %}
        {% endblock %}

        {%  block extraJS %}
        {% endblock %}

</head>
<body>
    <main class="container">
        {% block content %}{% endblock %}
        
        
        <!-- TODO footer -->
        <footer class="text-center">
            {% block footer %}
                <!-- <small><a href="https://github.com/DavidM42" title="Written by DavidM42">Source Code on github</a>
                </small> -->
            {% endblock %}
        </footer>
    </main>
</body>

</html>