{% extends 'base.html' %}

{% block extraCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ghostButton.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trafficLight.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
{% endblock %}

{% block extraJS %}
    <script src="{{ url_for('static', filename='js/trafficLight.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/featureChange.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/formInit.js') }}"> </script>
{% endblock %}

{% block content %}

<h1 class="headline centeredText" id="headline">
    Billardcam Steuerung
</h1>

<!-- <label for="test">Test checkbox</label>
<input type="checkbox" class="toggle" name="test"> -->

<div id="formBeforeHook"></div>

<br>
<a class="btn-ghost btn-bright" href="#" id="saveReload">
    <i class="fas fa-sync"></i> Save & Reload
</a>
<br>

<a class="btn-ghost btn-bright" href=" {{ url_for('clip_it')}}">
    <i class="fas fa-video"></i> Clip den Schuss
</a>
<br>

<a class="btn-ghost btn-bright" href=" {{ url_for('logout')}}">
    <i class="fas fa-sign-out-alt"></i> Logout
</a>
<br>

<script>
    var featureStates = JSON.parse('{{ feature_states | safe }}');
</script>

{% endblock %}